<mat-card>
  <form (submit)="onLogin(postForm)" #postForm="ngForm" name="form">
    <mat-form-field>
      <p>Name : </p>
      <textarea matInput type="text" name="name" ngModel></textarea>
    </mat-form-field>
    <mat-form-field>
      <P>Age : </P>
      <input matInput type="text" name="age" ngModel>
    </mat-form-field>
    <mat-form-field>
      <P>Parent Name : </P>
      <input matInput type="text" name="parentname" ngModel>
    </mat-form-field>
    <mat-form-field>
      <P>Address : </P>
      <input matInput type="text" name="address" ngModel>
    </mat-form-field>
    <mat-form-field>
      <P>Phone Number : </P>
      <input matInput type="text" name="phone" ngModel>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Login</button>
  </form>
</mat-card>
<hr>
