<mat-card>
    <h1 *ngIf="authService.user | async">Welcome {{ (authService.user | async)?.email }}!</h1>
    
    <div *ngIf="!(authService.user | async)">
      <input matInput type="text" [(ngModel)]="email" placeholder="email"><br>
      <input matInput type="password" [(ngModel)]="password" placeholder="password"><br>
      <button mat-raised-button
      color="blue" (click)="login()" [disabled]="!email || !password">
        Login
      </button>
      <!--<button (click)="signup()" [disabled]="!email || !password">
        Signup
      </button>-->
    
      
    </div>
    
    <button mat-raised-button
    color="blue" (click)="logout()" *ngIf="authService.user | async">
      Logout
    </button>
    </mat-card>