<div class="ui menu">
  <!-- <img src="https://static.wixstatic.com/media/ffebe5_789df2f3bf0f4ef3afd73c67e85dba94~mv2.jpg/v1/crop/x_12,y_0,w_186,h_195/fill/w_89,h_94,al_c,q_80,usm_0.66_1.00_0.01/ffebe5_789df2f3bf0f4ef3afd73c67e85dba94~mv2.webp"> -->

  <div class="header item">
    Spastics Society of Karnataka
    This is a progressive web app.
  </div>
  <a class="item" href="/dashboard">
    Dashboard  
  </a>
  <a class="item" href="/registerPatient">
    Register New Patient  
  </a>
  <a class="item" href="/requestAppointment">
    Request Appointment
  </a>
  <a class ="item" href = "/acceptDeclineAppointment">Accept or Decline an Appointment Request</a>
</div>

<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div *ngIf="authService.user | async" class="container">
        <a class="navbar-brand">Menu</a>
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="home">register</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="request">request</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="assign">assign</a></li>
        </ul>
    </div>
</nav>

<router-outlet>

</router-outlet>
