

<form #Form="ngForm" name="form" class="ui form" style="margin-left: 10%; margin-right:10%;">
  <div class="field">
    <label>Beneficiary (Patient) ID</label>
    <input type="text" name="patientname" placeholder="Patient ID" [(ngModel)]="patientname">
  </div>
  <div class="field">
    <label>Department</label>
    <input type="text" name="department" placeholder="Department" [(ngModel)]="department">
  </div>
  <button class="ui button" type="submit" (click)="makeAppReceptionist()">Request</button>
</form>
